.section {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
    gap: 20px;
    text-align: center;
    box-shadow: 0px 0px 18px -3px #f09819;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 1;
}

@media screen and (min-width: 744px) {
    .section {
        padding: 40px 40px 20px 40px;
        margin-bottom: 20px;
        gap: 25px;
    }
}

.title {
    font-size: 24px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: textAnimation 1.5s ease forwards;
}

@media screen and (min-width: 744px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 42px;
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}