.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    margin: 0 auto;
}

@media screen and (min-width: 744px) {
    .form {
        width: unset;
        margin: unset;
        justify-content: unset;
    }
}

.formInputBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 744px) {
    .formInputBlock {
        gap: 20px;
    }
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 290px;
}

@media screen and (min-width: 744px) {
    .formElement {
        max-width: unset;
        width: 320px;
    }
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #f09819;
    outline: none;   
}

input[type="text"]::placeholder {
    color: #aaa;    
}

input[type="date"] {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: #f09819;
    outline: none;
}

label {
    font-size: 18px;
    font-weight: 500;
}